#predictdata {
    display: flex;
    flex-direction: column;
    height: 93vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
}

#predictdata div{
    display: flex;
    margin: 10px;
}

#predictdata h4 {
    font-size: 18px;
}
